	<% extend('page/layout') %>
	<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">
		<!-- Header -->
		<%- include('page/header') %>
		<!-- //Header -->
		<!-- Start Search Popup -->
		<%- include('page/search_pop_up') %>
		<!-- End Search Popup -->

        <!-- Start Slider area -->
		<%- include('page/slider-bar') %>
		<!-- End Slider area -->
		
		<!-- Start BEst Seller Area -->

		<!-- end BEst Seller Area -->

		<!-- All Product Area -->
		<section class="wn__bestseller__area bg--white pt--80  pb--30">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section__title text-center">
							<h2 class="title__be--2">All <span class="color--theme">Products</span></h2>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered lebmid alteration in some ledmid form</p>
						</div>
					</div>
				</div>
				<div class="row mt--50">
					<div class="col-md-12 col-lg-12 col-sm-12">
						<div class="product__nav nav justify-content-center" role="tablist">
							<a class="nav-item nav-link" data-toggle="tab" href="#nav-all" role="tab">ALL</a>
							<a class="nav-item nav-link" data-toggle="tab" href="#nav-0" role="tab">0</a>
							<% 	for(let loaiSP of  __('all_product') )  {								
							%>
								<a class="nav-item nav-link"  data-toggle="tab" href="#nav-<%=loaiSP.maLoai %>" role="tab"><%= loaiSP.tenLoai %></a>
							<% } %>
                        </div>
					</div>
				</div>
				<div class="tab__container mt--60">
					<!-- Start Single Tab Content -->
					<div class="row single__tab tab-pane fade show active" id="nav-all" role="tabpanel">
						<div class="product__indicator--4 arrows_style owl-carousel owl-theme">
					<%
						for(let i = 0 ; i < allProduct.length; i++)   {

							for(let j= 0; j <= allProduct[i].length ;   j=j+2 ){
								if( allProduct[i].length - j >= -1){
					%>
								<div class="single__product">
										<!-- Start Single Product -->
										<% if(allProduct[i][j] ) {  %>
										<div class="col-lg-3 col-md-4 col-sm-6 col-12">
											<div class="product product__style--3">
													<div class="product__thumb">
														<a class="first__img" href="single-product.html"><img src="<%=allProduct[i][j].HinhAnhs[0].duongDan%>" alt="product image"></a>
														<a class="second__img animation1" href="single-product.html"><img src="<%=allProduct[i][j].HinhAnhs[1].duongDan %>" alt="product image"></a>
														<div class="hot__box">
															<span class="hot-label">BEST SALER</span>
														</div>
													</div>
													<div class="product__content content--center content--center">
														<h4><a href="single-product.html"><%=allProduct[i][j].tenSP%></a></h4>
														<ul class="prize d-flex">
															<li><%=allProduct[i][j].gia%></li>
															<li class="old_prize"><%=allProduct[i][j].gia%></li>
														</ul>
														<div class="action">
															<div class="actions_inner">
																<ul class="add_to_links">
																	<li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
																	<li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
																	<li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
																	<li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal" data-maSP="<%=allProduct[i][j].maSP %>"><i class="bi bi-search"></i></a></li>
																</ul>
															</div>
														</div>
														<div class="product__hover--content">
															<ul class="rating d-flex">
																<li class="on"><i class="fa fa-star-o"></i></li>
																<li class="on"><i class="fa fa-star-o"></i></li>
																<li class="on"><i class="fa fa-star-o"></i></li>
																<li><i class="fa fa-star-o"></i></li>
																<li><i class="fa fa-star-o"></i></li>
															</ul>
														</div>
													</div>
											</div>
										</div>
										<% }  %>									
										<% if(allProduct[i][j+1]   ) { %>
											<div class="col-lg-3 col-md-4 col-sm-6 col-12">
												<div class="product product__style--3">
													<div class="product__thumb">
														<a class="first__img" href="single-product.html"><img src="images/books/1.jpg" alt="product image"></a>
														<a class="second__img animation1" href="single-product.html"><img src="images/books/2.jpg" alt="product image"></a>
														<div class="hot__box">
															<span class="hot-label">BEST SALER</span>
														</div>
													</div>
													<div class="product__content content--center content--center">
														<h4><a href="single-product.html"><%= allProduct[i][j+1].tenSP %></a></h4>
														<ul class="prize d-flex">
															<li>$50.00</li>
															<li class="old_prize">$35.00</li>
														</ul>
														<div class="action">
															<div class="actions_inner">
																<ul class="add_to_links">
																	<li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
																	<li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
																	<li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
																	<li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal" data-maSP="<%=allProduct[i][j].maSP %>"><i class="bi bi-search"></i></a></li>
																</ul>
															</div>
														</div>
														<div class="product__hover--content">
															<ul class="rating d-flex">
																<li class="on"><i class="fa fa-star-o"></i></li>
																<li class="on"><i class="fa fa-star-o"></i></li>
																<li class="on"><i class="fa fa-star-o"></i></li>
																<li><i class="fa fa-star-o"></i></li>
																<li><i class="fa fa-star-o"></i></li>
															</ul>
														</div>
													</div>	
												</div>
											</div>			
										<% } %>
								</div>
								<% } %>
					<% 		}

						}
					%>
						</div>
					</div>
					<!-- End Single Tab Content -->

					<!-- Start Single Tab Content -->
					<% 	for(index of allProduct.map(item => item))  {%>
						
					<div class="row single__tab tab-pane fade" id="nav-<%= index[0]?index[0].maLoai:'all'  %>" role="tabpanel">	
						<div class="product__indicator--4 arrows_style owl-carousel owl-theme">
							<% for(let i = 0; i <= index.length ; i+=2) {%>
								
									<%  if(index.length - i  >= -1) {%>
											<div class="single__product">
											<% if(index[i]) {%>
												<!-- Start Single Product -->
												<div class="col-lg-3 col-md-4 col-sm-6 col-12">
													<div class="product product__style--3">
														<div class="product__thumb">
															<a class="first__img" href="single-product.html"><img src="images/books/1.jpg" alt="product image"></a>
															<a class="second__img animation1" href="single-product.html"><img src="images/books/2.jpg" alt="product image"></a>
															<div class="hot__box">
																<span class="hot-label">BEST SALER</span>
															</div>
														</div>
														<div class="product__content content--center content--center">
															<h4><a href="single-product.html"><%= index[i].tenSP %></a></h4>
															<ul class="prize d-flex">
																<li>$50.00</li>
																<li class="old_prize">$35.00</li>
															</ul>
															<div class="action">
																<div class="actions_inner">
																	<ul class="add_to_links">
																		<li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
																		<li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
																		<li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
																		<li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" data-maSP="<%=index[i].maSP %>" href="#productmodal"><i class="bi bi-search"></i></a></li>
																	</ul>
																</div>
															</div>
															<div class="product__hover--content">
																<ul class="rating d-flex">
																	<li class="on"><i class="fa fa-star-o"></i></li>
																	<li class="on"><i class="fa fa-star-o"></i></li>
																	<li class="on"><i class="fa fa-star-o"></i></li>
																	<li><i class="fa fa-star-o"></i></li>
																	<li><i class="fa fa-star-o"></i></li>
																</ul>
															</div>
														</div>
													</div>
												</div>
												<!-- End Single Product -->
											<% } %>
											<% if(index[i+1]) {%>
												<!-- Start Single Product -->
												<div class="col-lg-3 col-md-4 col-sm-6 col-12">
													<div class="product product__style--3">
														<div class="product__thumb">
															<a class="first__img" href="single-product.html"><img src="images/books/1.jpg" alt="product image"></a>
															<a class="second__img animation1" href="single-product.html"><img src="images/books/2.jpg" alt="product image"></a>
															<div class="hot__box">
																<span class="hot-label">BEST SALER</span>
															</div>
														</div>
														<div class="product__content content--center content--center">
															<h4><a href="single-product.html"><%= index[i+1].tenSP %></a></h4>
															<ul class="prize d-flex">
																<li>$50.00</li>
																<li class="old_prize">$35.00</li>
															</ul>
															<div class="action">
																<div class="actions_inner">
																	<ul class="add_to_links">
																		<li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
																		<li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
																		<li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
																		<li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
																	</ul>
																</div>
															</div>
															<div class="product__hover--content">
																<ul class="rating d-flex">
																	<li class="on"><i class="fa fa-star-o"></i></li>
																	<li class="on"><i class="fa fa-star-o"></i></li>
																	<li class="on"><i class="fa fa-star-o"></i></li>
																	<li><i class="fa fa-star-o"></i></li>
																	<li><i class="fa fa-star-o"></i></li>
																</ul>
															</div>
														</div>
													</div>
												</div>
												<!-- End Single Product -->
											<% } %>
											</div>
									<% } %>
								
							<% } %>
						</div>
					</div>
					<% 	} %>
					<!-- Start Single Tab Content -->

					<div class="row single__tab tab-pane fade show " id="nav-0" role="tabpanel">
						<div class="product__indicator--4 arrows_style owl-carousel owl-theme">
							<div class="single__product">
								<!-- Start Single Product -->
								<div class="col-lg-3 col-md-4 col-sm-6 col-12">
									<div class="product product__style--3">
										<div class="product__thumb">
											<a class="first__img" href="single-product.html"><img src="images/books/1.jpg" alt="product image"></a>
											<a class="second__img animation1" href="single-product.html"><img src="images/books/2.jpg" alt="product image"></a>
											<div class="hot__box">
												<span class="hot-label">BEST SALER</span>
											</div>
										</div>
										<div class="product__content content--center content--center">
											<h4><a href="single-product.html">Ghost</a></h4>
											<ul class="prize d-flex">
												<li>$50.00</li>
												<li class="old_prize">$35.00</li>
											</ul>
											<div class="action">
												<div class="actions_inner">
													<ul class="add_to_links">
														<li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
														<li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
														<li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
														<li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal" ><i class="bi bi-search"></i></a></li>
													</ul>
												</div>
											</div>
											<div class="product__hover--content">
												<ul class="rating d-flex">
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<!-- End Single Product -->
								<!-- Start Single Product -->
								<div class="col-lg-3 col-md-4 col-sm-6 col-12">
									<div class="product product__style--3">
										<div class="product__thumb">
											<a class="first__img" href="single-product.html"><img src="images/books/3.jpg" alt="product image"></a>
											<a class="second__img animation1" href="single-product.html"><img src="images/books/9.jpg" alt="product image"></a>
											<div class="hot__box">
												<span class="hot-label">BEST SALER</span>
											</div>
										</div>
										<div class="product__content content--center content--center">
											<h4><a href="single-product.html">GHOST</a></h4>
											<ul class="prize d-flex">
												<li>$50.00</li>
												<li class="old_prize">$35.00</li>
											</ul>
											<div class="action">
												<div class="actions_inner">
													<ul class="add_to_links">
														<li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
														<li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
														<li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
														<li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
													</ul>
												</div>
											</div>
											<div class="product__hover--content">
												<ul class="rating d-flex">
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<!-- Start Single Product -->
							</div>
							<div class="single__product">
								<!-- Start Single Product -->
								<div class="col-lg-3 col-md-4 col-sm-6 col-12">
									<div class="product product__style--3">
										<div class="product__thumb">
											<a class="first__img" href="single-product.html"><img src="images/books/5.jpg" alt="product image"></a>
											<a class="second__img animation1" href="single-product.html"><img src="images/books/6.jpg" alt="product image"></a>
											<div class="hot__box">
												<span class="hot-label">HOT</span>
											</div>
										</div>
										<div class="product__content content--center">
											<h4><a href="single-product.html">Doctor Wldo</a></h4>
											<ul class="prize d-flex">
												<li>$35.00</li>
												<li class="old_prize">$35.00</li>
											</ul>
											<div class="action">
												<div class="actions_inner">
													<ul class="add_to_links">
														<li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
														<li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
														<li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
														<li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
													</ul>
												</div>
											</div>
											<div class="product__hover--content">
												<ul class="rating d-flex">
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<!-- Start Single Product -->
								<!-- Start Single Product -->
								<div class="col-lg-3 col-md-4 col-sm-6 col-12">
									<div class="product product__style--3">
										<div class="product__thumb">
											<a class="first__img" href="single-product.html"><img src="images/books/7.jpg" alt="product image"></a>
											<a class="second__img animation1" href="single-product.html"><img src="images/books/8.jpg" alt="product image"></a>
											<div class="hot__box">
												<span class="hot-label">HOT</span>
											</div>
										</div>
										<div class="product__content content--center">
											<h4><a href="single-product.html">Doctor Wldo</a></h4>
											<ul class="prize d-flex">
												<li>$35.00</li>
												<li class="old_prize">$35.00</li>
											</ul>
											<div class="action">
												<div class="actions_inner">
													<ul class="add_to_links">
														<li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
														<li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
														<li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
														<li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
													</ul>
												</div>
											</div>
											<div class="product__hover--content">
												<ul class="rating d-flex">
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<!-- Start Single Product -->
							</div>
							<div class="single__product">
								<!-- Start Single Product -->
								<div class="col-lg-3 col-md-4 col-sm-6 col-12">
									<div class="product product__style--3">
										<div class="product__thumb">
											<a class="first__img" href="single-product.html"><img src="images/books/9.jpg" alt="product image"></a>
											<a class="second__img animation1" href="single-product.html"><img src="images/books/7.jpg" alt="product image"></a>
											<div class="hot__box">
												<span class="hot-label">HOT</span>
											</div>
										</div>
										<div class="product__content content--center">
											<h4><a href="single-product.html">Lando</a></h4>
											<ul class="prize d-flex">
												<li>$35.00</li>
												<li class="old_prize">$50.00</li>
											</ul>
											<div class="action">
												<div class="actions_inner">
													<ul class="add_to_links">
														<li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
														<li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
														<li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
														<li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
													</ul>
												</div>
											</div>
											<div class="product__hover--content">
												<ul class="rating d-flex">
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<!-- Start Single Product -->
								<!-- Start Single Product -->
								<div class="col-lg-3 col-md-4 col-sm-6 col-12">
									<div class="product product__style--3">
										<div class="product__thumb">
											<a class="first__img" href="single-product.html"><img src="images/books/11.jpg" alt="product image"></a>
											<a class="second__img animation1" href="single-product.html"><img src="images/books/5.jpg" alt="product image"></a>
											<div class="hot__box">
												<span class="hot-label">HOT</span>
											</div>
										</div>
										<div class="product__content content--center">
											<h4><a href="single-product.html">Lando</a></h4>
											<ul class="prize d-flex">
												<li>$35.00</li>
												<li class="old_prize">$50.00</li>
											</ul>
											<div class="action">
												<div class="actions_inner">
													<ul class="add_to_links">
														<li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
														<li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
														<li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
														<li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
													</ul>
												</div>
											</div>
											<div class="product__hover--content">
												<ul class="rating d-flex">
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<!-- Start Single Product -->
							</div>
							<div class="single__product">
								<!-- Start Single Product -->
								<div class="col-lg-3 col-md-4 col-sm-6 col-12">
									<div class="product product__style--3">
										<div class="product__thumb">
											<a class="first__img" href="single-product.html"><img src="images/books/8.jpg" alt="product image"></a>
											<a class="second__img animation1" href="single-product.html"><img src="images/books/4.jpg" alt="product image"></a>
											<div class="hot__box">
												<span class="hot-label">BEST SALLER</span>
											</div>
										</div>
										<div class="product__content content--center">
											<h4><a href="single-product.html">Bowen Greenwood</a></h4>
											<ul class="prize d-flex">
												<li>$40.00</li>
												<li class="old_prize">$35.00</li>
											</ul>
											<div class="action">
												<div class="actions_inner">
													<ul class="add_to_links">
														<li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
														<li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
														<li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
														<li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
													</ul>
												</div>
											</div>
											<div class="product__hover--content">
												<ul class="rating d-flex">
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<!-- Start Single Product -->
								<!-- Start Single Product -->
								<div class="col-lg-3 col-md-4 col-sm-6 col-12">
									<div class="product product__style--3">
										<div class="product__thumb">
											<a class="first__img" href="single-product.html"><img src="images/books/12.jpg" alt="product image"></a>
											<a class="second__img animation1" href="single-product.html"><img src="images/books/7.jpg" alt="product image"></a>
											<div class="hot__box">
												<span class="hot-label">BEST SALLER</span>
											</div>
										</div>
										<div class="product__content content--center">
											<h4><a href="single-product.html">Bowen Greenwood</a></h4>
											<ul class="prize d-flex">
												<li>$40.00</li>
												<li class="old_prize">$35.00</li>
											</ul>
											<div class="action">
												<div class="actions_inner">
													<ul class="add_to_links">
														<li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
														<li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
														<li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
														<li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
													</ul>
												</div>
											</div>
											<div class="product__hover--content">
												<ul class="rating d-flex">
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<!-- Start Single Product -->
							</div>
							<div class="single__product">
								<!-- Start Single Product -->
								<div class="col-lg-3 col-md-4 col-sm-6 col-12">
									<div class="product product__style--3">
										<div class="product__thumb">
											<a class="first__img" href="single-product.html"><img src="images/books/3.jpg" alt="product image"></a>
											<a class="second__img animation1" href="single-product.html"><img src="images/books/5.jpg" alt="product image"></a>
											<div class="hot__box">
												<span class="hot-label">BEST SALLER</span>
											</div>
										</div>
										<div class="product__content content--center">
											<h4><a href="single-product.html">Bowen Greenwood</a></h4>
											<ul class="prize d-flex">
												<li>$40.00</li>
												<li class="old_prize">$35.00</li>
											</ul>
											<div class="action">
												<div class="actions_inner">
													<ul class="add_to_links">
														<li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
														<li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
														<li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
														<li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
													</ul>
												</div>
											</div>
											<div class="product__hover--content">
												<ul class="rating d-flex">
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<!-- Start Single Product -->
								<!-- Start Single Product -->
								<div class="col-lg-3 col-md-4 col-sm-6 col-12">
									<div class="product product__style--3">
										<div class="product__thumb">
											<a class="first__img" href="single-product.html"><img src="images/books/2.jpg" alt="product image"></a>
											<a class="second__img animation1" href="single-product.html"><img src="images/books/7.jpg" alt="product image"></a>
											<div class="hot__box">
												<span class="hot-label">BEST SALLER</span>
											</div>
										</div>
										<div class="product__content content--center">
											<h4><a href="single-product.html">Bowen Greenwood</a></h4>
											<ul class="prize d-flex">
												<li>$40.00</li>
												<li class="old_prize">$35.00</li>
											</ul>
											<div class="action">
												<div class="actions_inner">
													<ul class="add_to_links">
														<li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
														<li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
														<li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
														<li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
													</ul>
												</div>
											</div>
											<div class="product__hover--content">
												<ul class="rating d-flex">
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li class="on"><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<!-- Start Single Product -->
							</div>
						</div>
					</div>
					<!-- End Single Tab Content -->
				</div>
			</div>
		</section>
		<!-- END all product Area -->


		<!-- Footer Area -->

		<%- include('page/footer') %>
		<!-- //Footer Area -->
		
		<!-- QUICKVIEW PRODUCT -->
		<div id="quickview-wrapper">

		</div>
		<!-- END QUICKVIEW PRODUCT -->
	</div>
	<!-- //Main wrapper -->

